
<div class="article-list">


<div class="article paper secondary">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>

<div class="article paper secondary">
    <img class="paper" src="/img/placeholder.png" alt="">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>

<div class="article paper secondary">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>

<div class="article paper secondary">
    <img src="/img/placeholder.png" alt="">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>
<div class="article paper secondary">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>

<div class="article paper secondary">
    <img src="/img/placeholder.png" alt="">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>
<div class="article paper secondary">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>

<div class="article paper secondary">
    <img src="/img/placeholder.png" alt="">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>
<div class="article paper secondary">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>

<div class="article paper secondary">
    <img src="/img/placeholder.png" alt="">
    <h2 class="article-title">Die Gründung</h2>
    <small class="article-date">20.05.2023</small>
    <p>Dies und das ist passiert es hat sich so oder so ereignet...</p>
    <a class="button paper primary learn-more" href="/blog/die-grundung/">Weiterlesen</a>
</div>
</div>

