


<div class="footer paper primary">
    <div>
        <h1>Kontakt</h1>

        <div class="contact tertiary paper">
            <img src="/img/logo-white-no-text.png" alt="Logo">
                <p>
                    Flavia Ernst
                    <br>
                    <a href="mailto:info@test.ch">info@test.ch</a>
                    <br>
                    <a href="tel:+41 79 123 45 67">+41 79 123 45 67</a>
                </p>
        </div>

    </div>
    <div>
        <h1>Addresse</h1>
        <p class="address">
            Kommunität Liechtig
            <br>
            Im Chloster 1
            <br>
            8214 Gächlingen
        </p>
    </div>

    <div>
        <h1>Weiteres</h1>
        <div class="details"> 
            <a href="/datenschutz/">Datenschutz</a>
            <a href="https://www.instagram.com/liechtig.ch/">Instagram</a>
        </div>
    </div>

</div>