

<div class="member-list">

    {% for member in site.members %}

        <div class="member">  

            {% if member.image %}
                    <img class="member-image" src="{{ member.image }}">
                    <img class="member-hover-image" src="{{ member.hover }}">

            {% endif %}

            <div class="paper primary member-info">
                <h2 class="member-title">{{ member.title }}</h2>
                <p>{{ member.intro }}</p>
            </div>

        </div>

    {% endfor %}

</div>