
    
    <div class="navbar paper primary">

        <a id="logo" href="/"><img src="/img/logo-white-no-text.png" class="icon"></a>
    
        <nav id="nav-items">
            <a href="/ueber-uns/">Über uns</a>
            <a href="/geschichte/">Geschichte</a>
            <a href="/events/">Events</a>
            <a href="/berichte/">Berichte</a>
            <a href="/downloads/">Downloads</a>

        </nav>

        <a id="nav-menu" href="javascript:document.querySelector('#nav-items').classList.toggle('nav-open');">
            <img src="/img/list.svg" class="icon">
        </a>

    </div>